<%= link_to("<< Back to List", {action: 'index'}, class: 'back-link') %>

<div class="questions delete">
  <h2>Delete Question</h2>

	<%= form_for(:question, url: {action: 'destroy', id: @question.id}) do |f| %>

	<P> Are you sure you want to permanently delete this question?</P>
		
	<P class="reference name"><%= @question.number %></P>

	<div class="form_buttons">
		<%= submit_tag('Dalete Question') %>
	</div>
	<%end %>
</div>
