<%	provide(:title,	'About')	%>
<h1>About</h1>
<h2>Samber is an online aptitude test plartform. We help organizations and companys create and administer aptitude tests to potential employees.
Access sample questions curated from world class recruitment experts in different fields. You also have an option to create your own custom questions.<br>
</h2>
