<%	provide(:title,	'All Orgaizations')	%>
<div class="container-fluid">
<h1>All Orgaizations</h1>
<div class = "row">
<div class="col-md-12">
    <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%=	link_to	user.email, user %></td>
      <td class="actions">
        <%= link_to "Delete", user_path(user), method: :delete, data: { confirm: "Are you sure?" }, 
        class: "btn btn-default btn-sm" %>
      </td>
    </tr>
    <% end %>
    </table>
</div>
</div>
</div>