@import	"bootstrap-sprockets";
@import	"bootstrap";

/*	mixins,	variables,	etc.	*/
$gray-medium-light:	#eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing:	border-box;
	box-sizing: border-box;
}

/*	universal	*/
body {
	height:100%;
	padding-top: 30px;
}
section	{
	overflow: auto;
}
textarea {
	resize:	vertical;
}
.center	{
	text-align:	center;
	h1 {
		margin-bottom: 10px;
	}
}

/*	typography	*/
h1,	h2,	h3,	h4,	h5,	h6 {
	line-height: 1;
}

h1 {
	padding-top: 25px;
	font-size: 3em;
	letter-spacing:	-2px; margin-bottom: 30px;
	text-align:	center;
}

h2 {
	font-size: 1.2em;
	letter-spacing:	-1px;
	margin-bottom: 30px;
	text-align:	center;
	font-weight: normal;
	color: $gray-light;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/*	header	*/
#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform:	uppercase;
	letter-spacing:	-1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover	{
		color: white;
		text-decoration: none;
	}
}

/*	forms	*/
input, textarea, select, .uneditable-input {
		border:	1px	solid #bbb;
		width: 100%;
		margin-bottom: 15px;
		@include box_sizing;
}
input {
	height:	auto !important;
}

#error_explanation {
	color: red;
	ul	{
		color: red;
		margin:	0 0	30px 0;
	}
}
.field_with_errors {
	@extend	.has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.checkbox {		
	margin-top:	-10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width:	auto;
	margin-left: 0;
}

.pop_out {
	margin-top: 20px;
	margin-bottom: 0;
}

.slide_move {
	position: abosolute;
	top: 200px;
}

.indicators_move {
	position: abosolute;
	top: 500px;
}

.candidate_move {
	position: relative;
	top: 30px;
	left: 840px;
}

/*	footer	*/
footer {
    position: fixed;
    bottom: 0%;
	padding: 15px 30px 5px 20px ;
	border-top:	1px	solid #e4e4e4;
	color: $gray-light;
	background: #f2f2f2;
	height: 50px;
	min-width: 1300px;
	a {
		color:	$gray;
		&:hover	{
			color: $gray-darker;
		}
	}
	small {
		float:	left;
	}
	ul {
		float: right;
		list-style:	none;
		li {
			float: left;
			margin-left: 5px;
		}
	}
}

/*	miscellaneous	*/
.debug_dump	{
	clear:	both;
	float:	left;
	width:	100%;
	margin-top:	45px;
	@include box_sizing;
}