<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="pages delete">
  <h2>Delete Test</h2>

	<%= form_for(:page, :url => {:action => 'destroy', :id => @test.id}) do |f| %>

	<P> Are you sure you want to permanently delete this page?</P>
		
	<P class="reference name"><%= @test.name %></P>

	<div class="form_buttons">
		<%= submit_tag('Dalete Page') %>
	</div>
	<%end %>
</div>
