<footer	class="footer">
	<small>
		The	<a	href="#">Online Aptitude Test</a>
		by	<a	href="#">Samber</a>
	</small>
	<nav>
		<ul>
			<li><%=	link_to	"About", about_path %></li>
			<li><%=	link_to	"Contact", contact_path %></li>
		</ul>
	</nav>
</footer>